PORT=$PORT
NODE_ENV=$NODE_ENV
LIMIT_JSON=$LIMIT_JSON

APP_IMAGE_MAX_SIZE=$APP_IMAGE_MAX_SIZE
APP_SECRET=$APP_SECRET
AUTH_SECRET_KEY=$AUTH_SECRET_KEY

JWT_EXPIRE=$JWT_EXPIRE
JWT_REFRESH_EXPIRE=$JWT_REFRESH_EXPIRE

CRON=$CRON
AUTO_MIGRATION=$AUTO_MIGRATION

# Swagger
SWAGGER_PATH=$SWAGGER_PATH
SWAGGER_TITLE=$SWAGGER_TITLE
SWAGGER_DESCRIPTION=$SWAGGER_DESCRIPTION
SWAGGER_VERSION=$SWAGGER_VERSION
SWAGGER_SCHEME=$SWAGGER_SCHEME

# Database environment variables
DATABASE_HOST=$DATABASE_HOST
DATABASE_PORT=$DATABASE_PORT
DATABASE_USERNAME=$DATABASE_USERNAME
DATABASE_PASSWORD=$DATABASE_PASSWORD
DATABASE_NAME=$DATABASE_NAME
DATABASE_SSL=$DATABASE_SSL

# Firebase Config
FIREBASE_API_KEY=$FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=$FIREBASE_AUTH_DOMAIN
FIREBASE_PROJECT_ID=$FIREBASE_PROJECT_ID
FIREBASE_STORAGE_BUCKET=$FIREBASE_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=$FIREBASE_MESSAGING_SENDER_ID
FIREBASE_APP_ID=$FIREBASE_APP_ID

# Socket config
WEBSOCKET_PORT=$WEBSOCKET_PORT
WEBSOCKET_NAMESPACE=$WEBSOCKET_NAMESPACE
WEBSOCKET_CORS_ORIGIN=$WEBSOCKET_CORS_ORIGIN
WEBSOCKET_PATH=$WEBSOCKET_PATH
SOCKET_IO_REDIS_KEY=$SOCKET_IO_REDIS_KEY

# Queue config
QUEUE_PREFIX=$QUEUE_PREFIX

# Worker config
ENABLE_SEED=$ENABLE_SEED
WORKER_NODE_ENABLED=$WORKER_NODE_ENABLED

# Schedule config
SCHEDULE_ENABLED=$SCHEDULE_ENABLED
SCHEDULE_JOB_QUEUE_REMOVED_ON_COMPLETED=$SCHEDULE_JOB_QUEUE_REMOVED_ON_COMPLETED 

# Redis config
REDIS_HOST=$REDIS_HOST
REDIS_PORT=$REDIS_PORT
REDIS_DB=$REDIS_DB

# Telegram config
TELEGRAM_API_BASE_URL=$TELEGRAM_API_BASE_URL
TELEGRAM_FILE_BASE_URL=$TELEGRAM_FILE_BASE_URL
TELEGRAM_DEFAULT_CHANNEL_ID=$TELEGRAM_DEFAULT_CHANNEL_ID

# Cloudflare config
CLOUDFLARE_WORKER_DOMAIN=$CLOUDFLARE_WORKER_DOMAIN

# Bull Board config
ENABLE_BULL_BOARD=$ENABLE_BULL_BOARD
BULL_BOARD_PATH=$BULL_BOARD_PATH
BULL_BOARD_USERNAME=$BULL_BOARD_USERNAME
BULL_BOARD_PASSWORD=$BULL_BOARD_PASSWORD