NODE_ENV=$NODE_ENV
PORT=$NODE_PORT
SWAGGER_SCHEME=$SWAGGER_SCHEME

# JWT
JWT_REFRESH_EXPIRE=$JWT_REFRESH_EXPIRE
APP_SECRET=$APP_SECRET
JWT_EXPIRE=$JWT_EXPIRE

# Auth Secret
AUTH_SECRET_KEY=$AUTH_SECRET_KEY

# Swagger
SWAGGER_PATH=$SWAGGER_PATH
SWAGGER_TITLE=$SWAGGER_TITLE
SWAGGER_DESCRIPTION=$SWAGGER_DESCRIPTION
SWAGGER_VERSION=$SWAGGER_VERSION
SWAGGER_SCHEME=$SWAGGER_SCHEME

# Database environment variables
DATABASE_HOST=$DATABASE_HOST
DATABASE_PORT=$DATABASE_PORT
DATABASE_USERNAME=$DATABASE_USERNAME
DATABASE_PASSWORD=$DATABASE_PASSWORD
DATABASE_NAME=$DATABASE_NAME
DATABASE_SSL=$DATABASE_SSL
DATABASE_LOGGING=$DATABASE_LOGGING

# CRON
CRON=$CRON
